/*========== media ============*/

/* Lardge Devises, Wide Screens */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1140px) {
    .main-header h1 {
        font-size: 100px;
    }
}

/* Medium Devises, Descktops */
@media only screen and (max-width: 991px) {
    .navbar-collapse {
        border: 3px solid #fff;
        background: #cd0a2d;
        opacity: .9;
        z-index: 1;
    }

    .navbar-collapse .nav-link {
        text-align: center;
    }


}

@media only screen and (max-width: 960px) {}

/* Small Devises, Tablets */
@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 720px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 540px) {}

/* Exstra Small Devices, Phones */
@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 380px) {}