body {
	font-family: "Lato", Fallback, sans-serif;
	background: #f3f3f3;
	color: #212121;
	font-size: 18px;
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 50px 0;
}

h2 {
	font-family: "Bebas_Neue";
	font-size: 68px;
	font-weight: 400;
}

.max-container {
	max-width: 100%;
}

.text-red {
	color: #ff002e;
}

.btn-red {
	font-family: "Bebas_Neue";
	background-color: #cd0a2d;
	text-transform: uppercase;
	color: #fff;
	border-radius: 25px;
	padding: 5px 25px;
}

/*================== logo ================*/

.text-logo {
	font-family: "Bebas_Neue";
	margin-top: 50px;
	text-align: center;
	position: relative;
}

.text-logo img {
	position: absolute;
	top: -30px;
	right: 0;
}

.text-logo p {
	color: #fff;
	font-size: 35px;
	height: 38px;
	margin: 0;
}

.text-logo .tagline {
	color: #fff;
	font-weight: lighter;
	letter-spacing: 3px;
}

/*================== main-header ================*/

.main-header {
	min-height: 977px;
	background: url(../img/header_bg.png) center no-repeat;
	background-size: cover;
	position: relative;
}

.main-header ul li a::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transform: scale(0);
	transition: all 0.4s;
}

.main-header ul li a:hover::after {
	transform: scale(1);
}

.navbar-toggler i {
	color: #fff;
}

.navbar-collapse .nav-link {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

.nav-item .circle {
	display: block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 4px solid #fff;
	margin-right: 7px;
	margin-bottom: 7px;
}

.circle i {
	margin-top: 12px;
	margin-left: 12px;
	color: #fff;
	font-size: 18px;
}

.main-header h1 {
	font-family: "BillyOhio";
	font-weight: normal;
	font-size: 115px;
	letter-spacing: 0rem;
	word-spacing: -2.5rem;
	line-height: 6rem;
	color: #fff;
}

.main-content {
	position: absolute;
	max-width: 1170px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
}

/*================== section-order ================*/

.section-order .card {
	border: none;
	position: relative;
	margin: 10px 0;
}

.section-order .triangle {
	position: absolute;
	left: -20px;
	top: 200px;
	width: 0px;
	height: 0px;
	border-style: inset;
	border-width: 0 170px 170px 0;
	border-color: transparent transparent #cd0a2d transparent;
}

.triangle p {
	font-family: "Bebas_Neue";
	color: #fff;
	font-size: 25px;
	top: 55px;
	left: 30px;
	position: relative;
	height: 60px;
	width: 110px;
	margin: 0px;
	padding: 0;
}

.triangle p span {
	font-size: 60px;
}

.section-order .card img {
	height: 350px;
	object-fit: cover;
}

.card-body {
	font-family: Helvetica;
}

.card-body h5 {
	font-size: 26px;
	padding: 15px 0;
}

.card-body p {
	color: #717171;
}

/*================== section-our-team ================*/
.bg-red {
	background: #cd0a2d;
	margin: 30px 0 80px;
}

.bg-wite {
	background: #fff;
	margin: 120px 0 30px;
}

.section-our-team {
	position: relative;
}

.section-our-team .motto {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.section-our-team .content {
	color: #fff;
	padding: 40px 0;
}

.section-our-team .content h4 {
	padding-bottom: 20px;
	font-size: 26px;
}

.section-our-team .content p {
	padding-bottom: 30px;
	opacity: 0.7;
}

.section-our-team .person {
	padding: 25px 0 25px;
	color: #5e5e5e;
}

.person .border-circle {
	position: relative;
	overflow: hidden;
	width: 125px;
	height: 125px;
	border: 8px solid #dcdcdc;
	border-radius: 50%;
	z-index: 2;
}

.person .border-circle img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 125px;
	height: 125px;
	object-fit: cover;
}

.section-our-team .person-text {
	padding-left: 65px;
}

.section-our-team .person-name {
	font-family: "Bebas_Neue";
	text-transform: uppercase;
	display: flex;
}

.section-our-team .person-text span {
	color: #b1b1b1;
	padding-top: 5px;
	font-size: 25px;
}

.section-our-team .person h3 {
	font-size: 47px;
	letter-spacing: 7px;
}

/*================== section-raider ================*/
.section-raider {
	padding: 0;
}

.section-raider .card-rider {
	background: #fff;
	margin-top: 100px;
	padding: 0 60px;
}

.section-raider .person-raider {
	display: flex;
	justify-content: center;
	padding: 40px;
}

.person-raider .raider-ico {
	padding-right: 20px;
}

.person-raider .raider-ico img {
	border-radius: 50%;
}

.card-rider .text-card-raider {
	font-style: italic;
}

.person-raider .raider-name h5,
.person-raider .raider-name p {
	margin-top: 10px;
	height: 15px;
	font-family: "Bebas_Neue";
	font-size: 24px;
}

/*================== section-our-achievements ================*/

.section-our-achievements {
	background: url(../img/achievements_bg.png) center no-repeat;
	background-size: cover;
	color: #fff;
	padding-bottom: 0;
	position: relative;
}

.section-our-achievements .motto-achievements {
	position: absolute;
	top: 80%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.bg-opassity-red {
	background: #ff0633;
	opacity: 0.8;
	padding-top: 60px;
}

.bg-opassity {
	padding-top: 60px;
}

.section-our-achievements .title {
	padding: 0 0 80px;
}

.section-our-achievements .count,
.section-our-achievements .count-bigger {
	font-family: Helvetica;
	text-transform: uppercase;
	z-index: 9;
}

.section-our-achievements .count h3 {
	padding-top: 20px;
	font-size: 45px;
}

.section-our-achievements .count-bigger h3 {
	font-size: 60px;
}

.section-our-achievements .count-bigger span {
	font-size: 30px;
}

.section-our-achievements .achievements-text {
	padding: 80px 0 60px;
}

/*================== travel-blog ================*/

.travel-blog h2 {
	padding-top: 100px;
}

.travel-blog .triangle p {
	padding-top: 30px;
	height: 30px;
	width: 150px;
}

/*================== section-jurney ================*/
.mine-footer {
	padding: 80px;
}

.section-jurney {
	background: url(../img/jurney_bg.png) center no-repeat;
	background-size: cover;
	padding: 120px 0 150px;
	color: #fff;
}

/*================== main-footer ================*/
.mine-footer {
	position: relative;
}

.mine-footer .marker {
	font-size: 200px;
	color: #cd0a2d;
	position: absolute;
	top: -10%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.footer-contact {
	display: flex;
	justify-content: space-around;
}

.info-block {
	position: relative;
}

.info-block h3 {
	margin-left: 15px;
}

.info-block span {
	font-size: 50px;
	position: absolute;
	left: -70px;
}

.footer-social-media {
	text-align: center;
}

.footer-social-media .footer-circle {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 3px solid #f0d839;
	border-radius: 50%;
	margin: 30px 15px;
}

.footer-circle i {
	margin-left: 50%;
	margin-top: 50%;
	transform: translate(-50%, -50%);
}